_/
bin/
/dist/*/*/*
!/dist/archlinux/*/PKGBUILD
*~
\#*\#
.\#*
*.install
*.swp
*.bak
*.class
*.info
*.pdf
*.ps
*.dvi
*.gz
/rmixer.aux
/rmixer.cp
/rmixer.cps
/rmixer.fn
/rmixer.ky
/rmixer.log
/rmixer.pg
/rmixer.toc
/rmixer.tp
/rmixer.vr
/rmixer.op
/rmixer.ops
/rmixer.pgs
/rmixer.vrs
/rmixer.*sh-completion
